<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Guidelines</nb-card-header>
      <nb-card-body>
        <p> D3 is a data visualization library that is highly popular across Angular and React applications. <br> If you are new to using D3 data visualization library, please refer the below documentation.</p>
        <a target="_blank" class="reference-link" href="https://d3js.org/">D3 Overview</a> <br>
        <a target="_blank" class="reference-link" href="https://github.com/d3/d3/wiki">D3 Documentation</a>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie Charts</nb-card-header>
      <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/pie-chart">Get Sample Code - D3</a>
      <!-- <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/pie-chart">Get Sample Code - Echarts</a> -->
      <nb-card-body>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar Charts</nb-card-header>
      <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/bar-chart">Get Sample Code - D3</a>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Horizontal Bar Charts</nb-card-header>
      <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/horizontal-bar-chart">Get Sample Code - D3</a>
      <nb-card-body>
        <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Line Charts</nb-card-header>
      <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/line-chart">Get Sample Code - D3</a>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Multiple x-axis</nb-card-header>
      <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/multi-line-chart">Get Sample Code - D3</a>
      <nb-card-body>
        <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Radar Charts</nb-card-header>
      <a class="reference-link" target="_blank" href="http://observablehq.com/@d3/pie-chart">Get Sample Code - D3</a>
      <nb-card-body>
        <ngx-chartjs-radar></ngx-chartjs-radar>
      </nb-card-body>
    </nb-card>
  </div>

</div>
