<ngx-navbar></ngx-navbar>

<div class="jumbotron text-center forum-main">
    <h1>UI Platform Forum</h1>
    <p class="lead">For UI Developers By UI Developers</p>
    <div>
      <a *ngIf = "!authService.loggedIn()" routerLink = "../forum/register" class="btn register">Register</a>
      <a *ngIf = "!authService.loggedIn()" routerLink = "../forum/login" class="btn btn-default">Login</a>
      <a *ngIf = "authService.loggedIn()" routerLink = "../forum/blog" class="btn btn-success" style="color:#ffffff;">View Blogs</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://image.flaticon.com/icons/svg/603/603156.svg" alt="placeholder image" width="140" height="140">
        <div class="caption">
          <h3>MongoDB</h3>
          <p>MongoDB is a free and open-source cross-platform document-oriented database program. This NoSQL database program uses JSON-like documents with schemas.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://www.flaticon.com/svg/static/icons/svg/1006/1006363.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>NodeJS</h3>
          <p>Node.js is a platform that allows JavaScript to be used outside the Web Browsers, for creating web and network applications.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://www.flaticon.com/svg/static/icons/svg/560/560216.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>Angular </h3>
          <p>Angular is a development platform for building mobile and desktop web applications.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://www.flaticon.com/svg/static/icons/svg/136/136530.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>JavaScript</h3>
          <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://www.flaticon.com/svg/static/icons/svg/919/919831.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>Sass</h3>
          <p>Sass is a preprocessor scripting language that is interpreted or compiled into Cascading Style Sheets. SassScript is the scripting language itself. Sass consists of two syntaxes.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> <img src="https://www.flaticon.com/svg/static/icons/svg/919/919851.svg" alt="Generic placeholder image" width="140" height="140">
        <div class=caption>
          <h3>React</h3>
          <p>React is an open-source, front end, JavaScript library for building user interfaces or UI components. It is maintained by Facebook and a community of individual developers and companies. React can be used as a base in the development of single-page or mobile applications.</p>
        </div>
      </div>
    </div>
  
  </div>
