<div class="row">
  <nb-card>
  <nb-card-header>Bootstrap Cards</nb-card-header>
  <div class="col-lg-12">
    <div class="card text-white bg-primary mb-3 mr-3" style="max-width: 18rem; display: inline-block;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-warning mb-3 mr-3" style="max-width: 18rem; display: inline-block;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-info mb-3 mr-3" style="max-width: 18rem; display: inline-block;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card bg-light mb-3 mr-3" style="max-width: 18rem; display: inline-block; color: #000;">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title" style="color: #000;">Light card title</h5>
        <p class="card-text" style="color: #000;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <nb-card-footer>
      <a class="reference-link" target="_blank" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">How to use</a>
      <a class="reference-link" target="_blank" href="https://getbootstrap.com/docs/4.0/components/card/">Get Sample Code</a>
    </nb-card-footer>
  </div>
</nb-card>
</div>
<div class="row">
  <nb-card style="width: 90%;">
    <nb-card-header>Nebular Cards</nb-card-header>
  <div class="col-lg-12">
<nb-card status="success">
  <nb-card-header>Card Header</nb-card-header>
  <nb-card-body class="nebular-card-body">
    This is an example of a Nebular card with a "success" header
  </nb-card-body>
  <nb-card-footer class="nebular-card-body">
    <a class="reference-link" target="_blank" href="https://akveo.github.io/nebular/docs/components/card/overview#nbcardcomponent">Get Sample Code</a>
    <a class="reference-link" target="_blank" href="https://akveo.github.io/nebular/docs/guides/install-nebular#manually">How to use</a>
  </nb-card-footer>
</nb-card>

<nb-card status="danger">
    <nb-card-header>Card Header</nb-card-header>
    <nb-card-body class="nebular-card-body">
      This is an example of a Nebular card with a "danger" header
    </nb-card-body>
    <nb-card-footer class="nebular-card-body">
      <a class="reference-link" target="_blank" href="https://akveo.github.io/nebular/docs/components/card/overview#nbcardcomponent">Get Sample Code</a>
      <a class="reference-link" target="_blank" href="https://akveo.github.io/nebular/docs/guides/install-nebular#manually">How to use</a>
    </nb-card-footer>
  </nb-card>
</div>
</nb-card>
</div>

<div class="row">
<nb-card>
<nb-card-header>Angular Material Card</nb-card-header>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <nb-card-footer>
    <a class="reference-link" target="_blank" href="https://material.angular.io/guide/getting-started">How to use</a>
    <a class="reference-link" target="_blank" href="https://material.angular.io/components/card/examples">Get Sample Code</a>
  </nb-card-footer>
</nb-card>
</div>