.navbar-right{
    margin-left:auto; 
    margin-right:0;
}

.nav-list{
    margin-left: 2em;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #272727;
}

a.active{
    color: red;
  }